@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
  --primary-white: #fff;
  --primary-violet: rgb(97, 9, 240);
  --primary-blue: cyan;
}

body{
  font-family: "Roboto condensed" ;
  background: black;
  
}

/*****NAVBAR*******/
.nav{
  z-index: 3;
}
.logo{
  width: 5rem;
  border-radius: 50%;

  
}
.navbar-default{
  background: linear-gradient(to right,rgb(71, 238, 250) 10%, var(--primary-violet) 50%, rgb(220, 5, 248) 75%);

}

nav a.nav-link{ 
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav {
  li{
    a{
      margin-right: 0.75rem;
      margin-left: 0.75rem;
      color: var(--primary-white) !important;
  }
}
}

.navbar-brand{
  max-width: 17.25rem;
  padding : 0rem !important;
  height: 6.5rem !important;
}

.navbar-nav {

    li{
      a:hover{
        border-bottom: 0.1875rem solid var(--primary-white); 
      }
    }
  
}

/*****HEADER*******/

.header-wrapper{
  position: relative;
  background-color: black;
   background-size: cover;
   background-position: center;
   height: 120vh;
   .main-info{
     display:flex;
     position: absolute;
     top:0;
     left: 0;
     right: 0;
     bottom: 0;
     flex-direction: column;
     justify-content: center ;
     align-items: center;
     text-align: center;
     font-family: "Roboto condensed";
     z-index: 0;
     h1{
       color: var(--primary-violet);
       text-transform: uppercase;
     

     }

     h2{
      color: var(--primary-violet);
      text-transform: uppercase;

     }
   }
  
}

.typed-text{
  font-size: 2rem;
  color: var(--primary-violet)
}

.btn-contact{
  border: 2px solid var(--primary-blue);
  text-decoration: none;
  text-transform: uppercase;
  padding: 4px;
  border-radius: 10px;
  color: var(--primary-blue);
  background-color: var(--primary-violet);
  margin: 10px;

  
}
.btn-contact:hover{
  transform: scale(1.1);
  transition: all 0.5s;
}


.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}
@media(max-width: 768px){
  #tsparticles{
    display:none;
  }
  .main-info h1{
    font-size: 1.5rem !important;

  }
  .typed-test{
    font-size: 1.3rem !important;
  }
}

/*****About*******/

.aboutme-section{
  background-color: var(--primary-violet);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 100px;
  height: 100vh;
  z-index: 3;

  
  
  
  .myphoto{

    height: 500px;
    border-radius: 40px;
    z-index: 3;
    background-color: white;

    .img{
      margin: 10px;
    }
  }
 .about-info{
   color: var(--primary-white);
   display: flex ;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding:200px;

   
 }
 
}

.servicos{
  background-color: black;
  color: rgb(97, 9, 240);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  height: 100vh;
  z-index: 3;
 
  .servicos-list{
    font-size: 15px;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 250px;
    gap: 10px 30px;
    .item{
      z-index: 4;
      box-shadow: 5px 5px  rgb(97, 9, 240);
      color:rgb(97, 9, 240);
      border: 1px solid var(--primary-violet);
      border-radius: 20px;
      padding: 15px;
      font-size: 10px;
    }
    .item:hover{
      box-shadow: 5px 5px  rgb(186, 152, 241);
      color: var(--primary-white);
      
      background-color: var(--primary-violet);
     
      
    }
  }
}

/*****Contato*******/

$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;
.form{
  background-color: black;;
  
  padding: 100px;
  height: 100vh;
  z-index: 3;
}
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--primary-violet);
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: rgb(97, 9, 240);
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}
/* demo */
body {
  font-family: 'Roboto Condensed'; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  
}

.contact{
  display: flex;
  flex-direction: row;
  
  justify-content: center;
  color: rgb(97, 9, 240);
}
.btn-enviar{
  margin: 30px;
  padding: 10px;
 background-color: rgb(97, 9, 240);
 color:cyan;
 border: 2px solid cyan;
 border-radius: 20px;
}

.btn-enviar:hover{
  transform: scale(1.1);
  transition: all 0.5s;
}

/*****PROJETOS*******/

.projeto-cards{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:20px;
  background-color: rgb(97, 9, 240);
  
  height: 110vh;
  z-index: 3;
 
 .container-cards{
  
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 250px;
  gap: 40px 30px ;
 }
 .card{
   box-shadow: 5px 5px darkblue;
  z-index: 4;
  background-color: rgb(164, 154, 255);
  border-radius: 20px;
  a{
    text-decoration: none;
    color: rgb(97, 9, 240);
  }
  
 }
 .card:hover{
   box-shadow: 5px 5px  rgb(186, 152, 241);
  background-color: black;
  
  color:rgb(97, 9, 240);
  a{
    color: white;
  }
}
}

.card-img-top{
  margin: 5px;
  border-radius: 20px;;
  max-width: 25%;
 max-height: 50%;
}



      

/*****FOOTER*******/

#footer{
  background-color: rgb(97, 9, 240);
  color:white;
}

.links{
  background-color: rgb(10, 10, 6);
  
}